* {
    color: blueviolet;
    background-color: blanchedalmond;
}
h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif   ;
    font-size: 50px;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}
img {
    height: auto;
    width: 700px;
}