* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
nav {
    /* display: flex; */
    margin-top: 200px;
}
div{
    font-size: 30px;
    text-align: center;
    border: 10px solid orange;
    margin-bottom: 10px;
    background-color: brown;
    padding: 20px;
    width: 200px;
    margin: 0 auto;
}